In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np

In [2]:
import tensorflow
tensorflow.keras.__version__

'2.4.0'

In [3]:
file1 = pd.read_csv("student-mat.csv",sep=";",header=0)
file2 = pd.read_csv("student-por.csv",sep=";",header=0)

In [4]:
file1['subject'] = 'Math'

In [5]:
file1.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,Math
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,Math
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,Math
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,Math
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,Math

In [6]:
file2['subject'] = 'Por'

In [7]:
file2.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,4,0,11,11,Por
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,2,9,11,11,Por
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,6,12,13,12,Por
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,0,14,14,14,Por
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,0,11,13,13,Por

In [8]:
df = pd.concat([file1,file2])

In [9]:
df.reset_index(drop=True,inplace=True)

In [10]:
 df.to_csv("student-mat-por_combinedData.csv")

In [11]:
 df1 = pd.read_csv('student-mat-por_combinedData.csv')

In [12]:
df1

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,3,4,1,1,3,6,5,6,6,Math
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,3,3,1,1,3,4,5,5,6,Math
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,3,2,2,3,3,10,7,8,10,Math
3,3,GP,F,15,U,GT3,T,4,2,health,...,2,2,1,1,5,2,15,14,15,Math
4,4,GP,F,16,U,GT3,T,3,3,other,...,3,2,1,2,5,4,6,10,10,Math
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,1039,MS,F,19,R,GT3,T,2,3,services,...,4,2,1,2,5,4,10,11,10,Por
1040,1040,MS,F,18,U,LE3,T,3,1,teacher,...,3,4,1,1,1,4,15,15,16,Por
1041,1041,MS,F,18,U,GT3,T,1,1,other,...,1,1,1,1,5,6,11,12,9,Por
1042,1042,MS,M,17,U,LE3,T,3,1,services,...,4,5,3,4,2,6,10,10,10,Por
1043,1043,MS,M,18,R,LE3,T,3,2,services,...,4,1,3,4,5,4,10,11,11,Por

In [13]:
grade = []
for x in df["G3"]:

    if x > 15:
        grade.append(4)
    elif x >= 10:
        grade.append(3)
    elif x >= 5:
        grade.append(2)
    else:
        grade.append(1)
print(grade)

[2, 2, 3, 3, 3, 3, 3, 2, 4, 3, 2, 3, 3, 3, 4, 3, 3, 3, 2, 3, 3, 3, 4, 3, 2, 2, 3, 3, 3, 3, 3, 4, 4, 3, 3, 2, 4, 3, 3, 3, 3, 3, 4, 3, 2, 2, 3, 4, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 2, 2, 3, 3, 3, 2, 2, 4, 3, 3, 2, 3, 3, 3, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 2, 3, 3, 2, 2, 4, 2, 3, 3, 3, 3, 3, 3, 2, 2, 4, 3, 2, 4, 3, 2, 4, 3, 4, 4, 3, 3, 4, 2, 4, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 3, 2, 1, 4, 1, 1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 2, 3, 3, 1, 3, 1, 3, 1, 3, 1, 3, 3, 1, 3, 2, 3, 3, 3, 3, 1, 2, 1, 3, 2, 3, 3, 4, 1, 3, 1, 4, 3, 1, 2, 2, 3, 2, 2, 3, 2, 3, 4, 2, 3, 3, 3, 3, 2, 3, 3, 2, 2, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 2, 3, 2, 2, 3, 3, 2, 2, 3, 3, 2, 3, 3, 1, 2, 2, 3, 2, 1, 4, 3, 3, 2, 3, 3, 2, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 1, 3, 3, 1, 3, 1, 4, 3, 2, 2, 3, 2, 3, 2, 2, 3, 2, 3, 3, 3, 1, 4, 2, 3, 2, 1, 4, 3, 3, 3, 1, 2, 3, 3, 3, 3, 3, 2, 2, 2, 3, 2, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 1, 2, 3, 4, 3, 3, 3, 4, 3, 3, 4, 2, 3, 3, 1, 3, 3, 3, 3, 3, 1, 2, 3, 3, 3, 2, 3, 3, 3, 3, 4, 3, 2, 3, 2, 3, 1, 1, 1, 3, 3, 1, 4, 3, 3, 1, 3, 1, 3, 3, 4, 2, 3, 3, 2, 3, 2, 2, 3, 2, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 2, 3, 3, 2, 4, 3, 3, 3, 3, 3, 3, 2, 3, 1, 2, 3, 2, 1, 2, 1, 2, 4, 2, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 4, 2, 3, 3, 3, 3, 4, 3, 4, 4, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 1, 3, 3, 3, 3, 2, 3, 3, 3, 1, 3, 2, 2, 3, 2, 2, 2, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 2, 4, 3, 3, 4, 3, 3, 3, 3, 2, 3, 4, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 2, 3, 3, 2, 3, 2, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 4, 3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 4, 4, 3, 3, 2, 4, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 4, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 2, 3, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 2, 3, 3, 3, 2, 3, 3, 3, 2, 3, 3, 4, 1, 2, 3, 2, 3, 2, 3, 2, 4, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 2, 3, 2, 3, 3, 3, 2, 3, 2, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 3, 3, 3, 3, 4, 2, 3, 2, 3, 3, 3, 3, 3, 2, 4, 4, 3, 2, 2, 2, 3, 4, 3, 2, 1, 2, 3, 2, 2, 2, 4, 3, 3, 2, 3, 2, 3, 2, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 2, 2, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 3, 2, 2, 1, 3, 2, 1, 2, 2, 3, 2, 3, 3, 3, 4, 4, 4, 1, 3, 3, 3, 3, 3, 1, 3, 1, 4, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 2, 4, 2, 3, 1, 3, 3, 2, 4, 3, 2, 3, 4, 2, 4, 1, 4, 1, 1, 3, 3, 3, 3, 4, 2, 3, 3]

In [14]:
df["grade"] = grade
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,subject,grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,6,5,6,6,Math,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,4,5,5,6,Math,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,10,7,8,10,Math,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,2,15,14,15,Math,3
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,4,6,10,10,Math,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,...,2,1,2,5,4,10,11,10,Por,3
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,1,1,1,4,15,15,16,Por,4
1041,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,5,6,11,12,9,Por,2
1042,MS,M,17,U,LE3,T,3,1,services,services,...,5,3,4,2,6,10,10,10,Por,3
1043,MS,M,18,R,LE3,T,3,2,services,other,...,1,3,4,5,4,10,11,11,Por,3

In [15]:
new_df = df.drop(columns = ["G2","G1","G3"])
new_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,subject,grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,4,1,1,3,6,Math,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,3,1,1,3,4,Math,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,2,3,3,10,Math,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,2,1,1,5,2,Math,3
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,2,1,2,5,4,Math,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,...,no,5,4,2,1,2,5,4,Por,3
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,no,4,3,4,1,1,1,4,Por,4
1041,MS,F,18,U,GT3,T,1,1,other,other,...,no,1,1,1,1,1,5,6,Por,2
1042,MS,M,17,U,LE3,T,3,1,services,services,...,no,2,4,5,3,4,2,6,Por,3
1043,MS,M,18,R,LE3,T,3,2,services,other,...,no,4,4,1,3,4,5,4,Por,3

In [16]:
data = new_df.values
X = new_df.drop(columns =["grade"])
y = new_df['grade']
y

0       2
1       2
2       3
3       3
4       3
       ..
1039    3
1040    4
1041    2
1042    3
1043    3
Name: grade, Length: 1044, dtype: int64

In [17]:
cat_columns = ["school","sex","address","famsize","Pstatus","Mjob","Fjob","reason","guardian","schoolsup","famsup","paid","activities","nursery","higher","internet","romantic","subject"]
cat_columns2 = ["school","absences","age","health","Walc","goout","subject"]

cat_columns2

['school', 'absences', 'age', 'health', 'Walc', 'goout', 'subject']

In [18]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
label_encoder = LabelEncoder()

In [19]:
X= X[cat_columns2]
##X= X.apply(LabelEncoder().fit_transform)
X

     school  absences  age  health  Walc  goout subject
0        GP         6   18       3     1      4    Math
1        GP         4   17       3     1      3    Math
2        GP        10   15       3     3      2    Math
3        GP         2   15       5     1      2    Math
4        GP         4   16       5     2      2    Math
...     ...       ...  ...     ...   ...    ...     ...
1039     MS         4   19       5     2      2     Por
1040     MS         4   18       1     1      4     Por
1041     MS         6   18       5     1      1     Por
1042     MS         6   17       2     4      5     Por
1043     MS         4   18       5     4      1     Por

[1044 rows x 7 columns]

In [20]:
X[["school","subject"]] = X[["school","subject"]].apply(LabelEncoder().fit_transform)

In [21]:
print(X)

      school  absences  age  health  Walc  goout  subject
0          0         6   18       3     1      4        0
1          0         4   17       3     1      3        0
2          0        10   15       3     3      2        0
3          0         2   15       5     1      2        0
4          0         4   16       5     2      2        0
...      ...       ...  ...     ...   ...    ...      ...
1039       1         4   19       5     2      2        1
1040       1         4   18       1     1      4        1
1041       1         6   18       5     1      1        1
1042       1         6   17       2     4      5        1
1043       1         4   18       5     4      1        1

[1044 rows x 7 columns]

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [23]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [24]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
import sklearn
from tensorflow.keras.utils import to_categorical

In [26]:
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [27]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [28]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=7))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))

model.add(Dense(units=5, activation='softmax'))

In [29]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               800
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 505
=================================================================
Total params: 21,505
Trainable params: 21,505
Non-trainable params: 0
_________________________________________________________________

In [30]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [31]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=190,
    shuffle=True,
    verbose=2
)

Epoch 1/190
25/25 - 0s - loss: 1.2317 - accuracy: 0.5913
Epoch 2/190
25/25 - 0s - loss: 0.9643 - accuracy: 0.6679
Epoch 3/190
25/25 - 0s - loss: 0.9014 - accuracy: 0.6718
Epoch 4/190
25/25 - 0s - loss: 0.8747 - accuracy: 0.6628
Epoch 5/190
25/25 - 0s - loss: 0.8499 - accuracy: 0.6718
Epoch 6/190
25/25 - 0s - loss: 0.8354 - accuracy: 0.6782
Epoch 7/190
25/25 - 0s - loss: 0.8176 - accuracy: 0.6794
Epoch 8/190
25/25 - 0s - loss: 0.8026 - accuracy: 0.6782
Epoch 9/190
25/25 - 0s - loss: 0.7895 - accuracy: 0.6871
Epoch 10/190
25/25 - 0s - loss: 0.7802 - accuracy: 0.6986
Epoch 11/190
25/25 - 0s - loss: 0.7722 - accuracy: 0.6935
Epoch 12/190
25/25 - 0s - loss: 0.7518 - accuracy: 0.6948
Epoch 13/190
25/25 - 0s - loss: 0.7415 - accuracy: 0.6973
Epoch 14/190
25/25 - 0s - loss: 0.7320 - accuracy: 0.7139
Epoch 15/190
25/25 - 0s - loss: 0.7180 - accuracy: 0.7063
Epoch 16/190
25/25 - 0s - loss: 0.7100 - accuracy: 0.7165
Epoch 17/190
25/25 - 0s - loss: 0.7285 - accuracy: 0.7126
Epoch 18/190
25/25 - 0s - loss: 0.7140 - accuracy: 0.7114
Epoch 19/190
25/25 - 0s - loss: 0.6908 - accuracy: 0.7165
Epoch 20/190
25/25 - 0s - loss: 0.6763 - accuracy: 0.7229
Epoch 21/190
25/25 - 0s - loss: 0.6808 - accuracy: 0.7101
Epoch 22/190
25/25 - 0s - loss: 0.6671 - accuracy: 0.7229
Epoch 23/190
25/25 - 0s - loss: 0.6465 - accuracy: 0.7305
Epoch 24/190
25/25 - 0s - loss: 0.6384 - accuracy: 0.7305
Epoch 25/190
25/25 - 0s - loss: 0.6466 - accuracy: 0.7178
Epoch 26/190
25/25 - 0s - loss: 0.6327 - accuracy: 0.7305
Epoch 27/190
25/25 - 0s - loss: 0.6235 - accuracy: 0.7344
Epoch 28/190
25/25 - 0s - loss: 0.6224 - accuracy: 0.7292
Epoch 29/190
25/25 - 0s - loss: 0.6210 - accuracy: 0.7407
Epoch 30/190
25/25 - 0s - loss: 0.6078 - accuracy: 0.7292
Epoch 31/190
25/25 - 0s - loss: 0.6021 - accuracy: 0.7561
Epoch 32/190
25/25 - 0s - loss: 0.5909 - accuracy: 0.7458
Epoch 33/190
25/25 - 0s - loss: 0.5789 - accuracy: 0.7586
Epoch 34/190
25/25 - 0s - loss: 0.5718 - accuracy: 0.7522
Epoch 35/190
25/25 - 0s - loss: 0.5725 - accuracy: 0.7573
Epoch 36/190
25/25 - 0s - loss: 0.5594 - accuracy: 0.7573
Epoch 37/190
25/25 - 0s - loss: 0.5393 - accuracy: 0.7663
Epoch 38/190
25/25 - 0s - loss: 0.5368 - accuracy: 0.7739
Epoch 39/190
25/25 - 0s - loss: 0.5245 - accuracy: 0.7778
Epoch 40/190
25/25 - 0s - loss: 0.5155 - accuracy: 0.7676
Epoch 41/190
25/25 - 0s - loss: 0.5038 - accuracy: 0.7714
Epoch 42/190
25/25 - 0s - loss: 0.5074 - accuracy: 0.7803
Epoch 43/190
25/25 - 0s - loss: 0.4913 - accuracy: 0.7829
Epoch 44/190
25/25 - 0s - loss: 0.5031 - accuracy: 0.7676
Epoch 45/190
25/25 - 0s - loss: 0.4825 - accuracy: 0.7867
Epoch 46/190
25/25 - 0s - loss: 0.4704 - accuracy: 0.8072
Epoch 47/190
25/25 - 0s - loss: 0.4622 - accuracy: 0.7995
Epoch 48/190
25/25 - 0s - loss: 0.4473 - accuracy: 0.8161
Epoch 49/190
25/25 - 0s - loss: 0.4410 - accuracy: 0.8148
Epoch 50/190
25/25 - 0s - loss: 0.4484 - accuracy: 0.7969
Epoch 51/190
25/25 - 0s - loss: 0.4343 - accuracy: 0.8123
Epoch 52/190
25/25 - 0s - loss: 0.4305 - accuracy: 0.8110
Epoch 53/190
25/25 - 0s - loss: 0.4284 - accuracy: 0.8135
Epoch 54/190
25/25 - 0s - loss: 0.4337 - accuracy: 0.8186
Epoch 55/190
25/25 - 0s - loss: 0.4048 - accuracy: 0.8225
Epoch 56/190
25/25 - 0s - loss: 0.4027 - accuracy: 0.8301
Epoch 57/190
25/25 - 0s - loss: 0.3957 - accuracy: 0.8378
Epoch 58/190
25/25 - 0s - loss: 0.3901 - accuracy: 0.8365
Epoch 59/190
25/25 - 0s - loss: 0.3847 - accuracy: 0.8301
Epoch 60/190
25/25 - 0s - loss: 0.3918 - accuracy: 0.8340
Epoch 61/190
25/25 - 0s - loss: 0.3724 - accuracy: 0.8365
Epoch 62/190
25/25 - 0s - loss: 0.3671 - accuracy: 0.8544
Epoch 63/190
25/25 - 0s - loss: 0.3554 - accuracy: 0.8570
Epoch 64/190
25/25 - 0s - loss: 0.3636 - accuracy: 0.8404
Epoch 65/190
25/25 - 0s - loss: 0.3551 - accuracy: 0.8595
Epoch 66/190
25/25 - 0s - loss: 0.3483 - accuracy: 0.8570
Epoch 67/190
25/25 - 0s - loss: 0.3503 - accuracy: 0.8429
Epoch 68/190
25/25 - 0s - loss: 0.3492 - accuracy: 0.8506
Epoch 69/190
25/25 - 0s - loss: 0.3380 - accuracy: 0.8736
Epoch 70/190
25/25 - 0s - loss: 0.3472 - accuracy: 0.8608
Epoch 71/190
25/25 - 0s - loss: 0.3214 - accuracy: 0.8723
Epoch 72/190
25/25 - 0s - loss: 0.3259 - accuracy: 0.8659
Epoch 73/190
25/25 - 0s - loss: 0.3197 - accuracy: 0.8799
Epoch 74/190
25/25 - 0s - loss: 0.3362 - accuracy: 0.8595
Epoch 75/190
25/25 - 0s - loss: 0.3002 - accuracy: 0.8851
Epoch 76/190
25/25 - 0s - loss: 0.2975 - accuracy: 0.8812
Epoch 77/190
25/25 - 0s - loss: 0.3186 - accuracy: 0.8633
Epoch 78/190
25/25 - 0s - loss: 0.2992 - accuracy: 0.8608
Epoch 79/190
25/25 - 0s - loss: 0.2872 - accuracy: 0.8761
Epoch 80/190
25/25 - 0s - loss: 0.2782 - accuracy: 0.8966
Epoch 81/190
25/25 - 0s - loss: 0.2891 - accuracy: 0.8812
Epoch 82/190
25/25 - 0s - loss: 0.2819 - accuracy: 0.8863
Epoch 83/190
25/25 - 0s - loss: 0.2826 - accuracy: 0.8799
Epoch 84/190
25/25 - 0s - loss: 0.2746 - accuracy: 0.8953
Epoch 85/190
25/25 - 0s - loss: 0.2789 - accuracy: 0.8851
Epoch 86/190
25/25 - 0s - loss: 0.2801 - accuracy: 0.8825
Epoch 87/190
25/25 - 0s - loss: 0.2565 - accuracy: 0.8889
Epoch 88/190
25/25 - 0s - loss: 0.2490 - accuracy: 0.8914
Epoch 89/190
25/25 - 0s - loss: 0.2460 - accuracy: 0.8978
Epoch 90/190
25/25 - 0s - loss: 0.2416 - accuracy: 0.9055
Epoch 91/190
25/25 - 0s - loss: 0.2397 - accuracy: 0.9093
Epoch 92/190
25/25 - 0s - loss: 0.2594 - accuracy: 0.8953
Epoch 93/190
25/25 - 0s - loss: 0.2477 - accuracy: 0.8953
Epoch 94/190
25/25 - 0s - loss: 0.2418 - accuracy: 0.8991
Epoch 95/190
25/25 - 0s - loss: 0.2403 - accuracy: 0.8978
Epoch 96/190
25/25 - 0s - loss: 0.2345 - accuracy: 0.8914
Epoch 97/190
25/25 - 0s - loss: 0.2318 - accuracy: 0.9144
Epoch 98/190
25/25 - 0s - loss: 0.2252 - accuracy: 0.9157
Epoch 99/190
25/25 - 0s - loss: 0.2375 - accuracy: 0.9004
Epoch 100/190
25/25 - 0s - loss: 0.2224 - accuracy: 0.9093
Epoch 101/190
25/25 - 0s - loss: 0.2149 - accuracy: 0.9144
Epoch 102/190
25/25 - 0s - loss: 0.2247 - accuracy: 0.9017
Epoch 103/190
25/25 - 0s - loss: 0.2228 - accuracy: 0.8991
Epoch 104/190
25/25 - 0s - loss: 0.2189 - accuracy: 0.9132
Epoch 105/190
25/25 - 0s - loss: 0.2388 - accuracy: 0.9017
Epoch 106/190
25/25 - 0s - loss: 0.2252 - accuracy: 0.8991
Epoch 107/190
25/25 - 0s - loss: 0.2383 - accuracy: 0.9055
Epoch 108/190
25/25 - 0s - loss: 0.2093 - accuracy: 0.9132
Epoch 109/190
25/25 - 0s - loss: 0.2027 - accuracy: 0.9208
Epoch 110/190
25/25 - 0s - loss: 0.1955 - accuracy: 0.9221
Epoch 111/190
25/25 - 0s - loss: 0.1973 - accuracy: 0.9246
Epoch 112/190
25/25 - 0s - loss: 0.1984 - accuracy: 0.9183
Epoch 113/190
25/25 - 0s - loss: 0.1993 - accuracy: 0.9183
Epoch 114/190
25/25 - 0s - loss: 0.2095 - accuracy: 0.9157
Epoch 115/190
25/25 - 0s - loss: 0.2022 - accuracy: 0.9119
Epoch 116/190
25/25 - 0s - loss: 0.2270 - accuracy: 0.8966
Epoch 117/190
25/25 - 0s - loss: 0.1953 - accuracy: 0.9055
Epoch 118/190
25/25 - 0s - loss: 0.1906 - accuracy: 0.9183
Epoch 119/190
25/25 - 0s - loss: 0.1886 - accuracy: 0.9183
Epoch 120/190
25/25 - 0s - loss: 0.1844 - accuracy: 0.9170
Epoch 121/190
25/25 - 0s - loss: 0.1842 - accuracy: 0.9183
Epoch 122/190
25/25 - 0s - loss: 0.1945 - accuracy: 0.9183
Epoch 123/190
25/25 - 0s - loss: 0.1816 - accuracy: 0.9183
Epoch 124/190
25/25 - 0s - loss: 0.1926 - accuracy: 0.9157
Epoch 125/190
25/25 - 0s - loss: 0.1961 - accuracy: 0.9055
Epoch 126/190
25/25 - 0s - loss: 0.1854 - accuracy: 0.9298
Epoch 127/190
25/25 - 0s - loss: 0.1763 - accuracy: 0.9170
Epoch 128/190
25/25 - 0s - loss: 0.1863 - accuracy: 0.9170
Epoch 129/190
25/25 - 0s - loss: 0.1797 - accuracy: 0.9298
Epoch 130/190
25/25 - 0s - loss: 0.1813 - accuracy: 0.9183
Epoch 131/190
25/25 - 0s - loss: 0.1900 - accuracy: 0.9157
Epoch 132/190
25/25 - 0s - loss: 0.1784 - accuracy: 0.9246
Epoch 133/190
25/25 - 0s - loss: 0.1825 - accuracy: 0.9234
Epoch 134/190
25/25 - 0s - loss: 0.1813 - accuracy: 0.9208
Epoch 135/190
25/25 - 0s - loss: 0.1888 - accuracy: 0.9119
Epoch 136/190
25/25 - 0s - loss: 0.1804 - accuracy: 0.9183
Epoch 137/190
25/25 - 0s - loss: 0.1639 - accuracy: 0.9285
Epoch 138/190
25/25 - 0s - loss: 0.1824 - accuracy: 0.9144
Epoch 139/190
25/25 - 0s - loss: 0.1822 - accuracy: 0.9183
Epoch 140/190
25/25 - 0s - loss: 0.1611 - accuracy: 0.9298
Epoch 141/190
25/25 - 0s - loss: 0.1573 - accuracy: 0.9310

Epoch 142/190
25/25 - 0s - loss: 0.1706 - accuracy: 0.9195
Epoch 143/190
25/25 - 0s - loss: 0.1597 - accuracy: 0.9246
Epoch 144/190
25/25 - 0s - loss: 0.1549 - accuracy: 0.9323
Epoch 145/190
25/25 - 0s - loss: 0.1510 - accuracy: 0.9361
Epoch 146/190
25/25 - 0s - loss: 0.1692 - accuracy: 0.9221
Epoch 147/190
25/25 - 0s - loss: 0.1745 - accuracy: 0.9259
Epoch 148/190
25/25 - 0s - loss: 0.1578 - accuracy: 0.9310
Epoch 149/190
25/25 - 0s - loss: 0.1544 - accuracy: 0.9310
Epoch 150/190
25/25 - 0s - loss: 0.1625 - accuracy: 0.9361
Epoch 151/190
25/25 - 0s - loss: 0.1814 - accuracy: 0.9208
Epoch 152/190
25/25 - 0s - loss: 0.1836 - accuracy: 0.9246
Epoch 153/190
25/25 - 0s - loss: 0.3044 - accuracy: 0.9004
Epoch 154/190
25/25 - 0s - loss: 0.2831 - accuracy: 0.8748
Epoch 155/190
25/25 - 0s - loss: 0.1857 - accuracy: 0.9132
Epoch 156/190
25/25 - 0s - loss: 0.1683 - accuracy: 0.9361
Epoch 157/190
25/25 - 0s - loss: 0.1637 - accuracy: 0.9259
Epoch 158/190
25/25 - 0s - loss: 0.1532 - accuracy: 0.9336
Epoch 159/190
25/25 - 0s - loss: 0.1654 - accuracy: 0.9285
Epoch 160/190
25/25 - 0s - loss: 0.1532 - accuracy: 0.9285
Epoch 161/190
25/25 - 0s - loss: 0.1496 - accuracy: 0.9323
Epoch 162/190
25/25 - 0s - loss: 0.1580 - accuracy: 0.9208
Epoch 163/190
25/25 - 0s - loss: 0.1750 - accuracy: 0.9285
Epoch 164/190
25/25 - 0s - loss: 0.1870 - accuracy: 0.9144
Epoch 165/190
25/25 - 0s - loss: 0.1511 - accuracy: 0.9361
Epoch 166/190
25/25 - 0s - loss: 0.1466 - accuracy: 0.9310
Epoch 167/190
25/25 - 0s - loss: 0.1529 - accuracy: 0.9323
Epoch 168/190
25/25 - 0s - loss: 0.1406 - accuracy: 0.9336
Epoch 169/190
25/25 - 0s - loss: 0.1476 - accuracy: 0.9221
Epoch 170/190
25/25 - 0s - loss: 0.1533 - accuracy: 0.9272
Epoch 171/190
25/25 - 0s - loss: 0.1536 - accuracy: 0.9246
Epoch 172/190
25/25 - 0s - loss: 0.1409 - accuracy: 0.9310
Epoch 173/190
25/25 - 0s - loss: 0.1486 - accuracy: 0.9298
Epoch 174/190
25/25 - 0s - loss: 0.1470 - accuracy: 0.9310
Epoch 175/190
25/25 - 0s - loss: 0.1369 - accuracy: 0.9361
Epoch 176/190
25/25 - 0s - loss: 0.1487 - accuracy: 0.9310
Epoch 177/190
25/25 - 0s - loss: 0.1500 - accuracy: 0.9298
Epoch 178/190
25/25 - 0s - loss: 0.1370 - accuracy: 0.9400
Epoch 179/190
25/25 - 0s - loss: 0.1390 - accuracy: 0.9349
Epoch 180/190
25/25 - 0s - loss: 0.1354 - accuracy: 0.9323
Epoch 181/190
25/25 - 0s - loss: 0.1433 - accuracy: 0.9349
Epoch 182/190
25/25 - 0s - loss: 0.1425 - accuracy: 0.9298
Epoch 183/190
25/25 - 0s - loss: 0.1359 - accuracy: 0.9387
Epoch 184/190
25/25 - 0s - loss: 0.1698 - accuracy: 0.9157
Epoch 185/190
25/25 - 0s - loss: 0.1717 - accuracy: 0.9170
Epoch 186/190
25/25 - 0s - loss: 0.1467 - accuracy: 0.9272
Epoch 187/190
25/25 - 0s - loss: 0.1594 - accuracy: 0.9208
Epoch 188/190
25/25 - 0s - loss: 0.1493 - accuracy: 0.9298
Epoch 189/190
25/25 - 0s - loss: 0.1633 - accuracy: 0.9234
Epoch 190/190
25/25 - 0s - loss: 0.1331 - accuracy: 0.9361

In [32]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

9/9 - 0s - loss: 2.8872 - accuracy: 0.5364
Normal Neural Network - Loss: 2.887235641479492, Accuracy: 0.5363984704017639

In [33]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
print(encoded_predictions)

WARNING:tensorflow:From <ipython-input-33-534052de1c23>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
[2 4 3 3 1 3 3 4 4 3]

In [34]:
print(f'actual {y_test.head(10)} prediction{encoded_predictions[:10]}')

actual 550    2
78     3
335    3
708    3
99     2
622    3
165    3
94     3
867    4
702    3
Name: grade, dtype: int64 prediction[2 4 3 3 1 3 3 4 4 3]

In [35]:
print(X_test_scaled)

[[-0.60538595  2.75073493  0.22968964 ... -0.21497738  1.58738503
   0.77117098]
 [-0.60538595 -0.38598021  0.22968964 ... -0.98712093 -1.85323082
  -1.29672929]
 [-0.60538595  1.80972039  0.22968964 ...  0.55716616  1.58738503
  -1.29672929]
 ...
 [-0.60538595 -0.69965172  0.22968964 ... -0.21497738 -0.99307686
  -1.29672929]
 [-0.60538595 -0.0723087  -0.58043193 ...  0.55716616 -0.1329229
   0.77117098]
 [ 1.6518388   0.55503433 -0.58043193 ... -0.98712093  1.58738503
   0.77117098]]

In [36]:
# Save the model
model.save('deeplearning.h5')