In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np

In [2]:
import tensorflow
tensorflow.keras.__version__

'2.4.0'

In [3]:
df = pd.read_csv('student-mat-por-merge.csv',sep=",",header=0)

In [4]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,subject,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,MAT,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,MAT,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,MAT,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,MAT,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,MAT,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,...,4,2,1,2,5,POR,4,10,11,10
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,3,4,1,1,1,POR,4,15,15,16
1041,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,5,POR,6,11,12,9
1042,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,POR,6,10,10,10
1043,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,POR,4,10,11,11

In [5]:
grade = []
for x in df["G3"]:

    if x > 15:
        grade.append(4)
    elif x >= 10:
        grade.append(3)
    elif x >= 5:
        grade.append(2)
    else:
        grade.append(1)
print(grade)

[2, 2, 3, 3, 3, 3, 3, 2, 4, 3, 2, 3, 3, 3, 4, 3, 3, 3, 2, 3, 3, 3, 4, 3, 2, 2, 3, 3, 3, 3, 3, 4, 4, 3, 3, 2, 4, 3, 3, 3, 3, 3, 4, 3, 2, 2, 3, 4, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 2, 2, 3, 3, 3, 2, 2, 4, 3, 3, 2, 3, 3, 3, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 2, 3, 3, 2, 2, 4, 2, 3, 3, 3, 3, 3, 3, 2, 2, 4, 3, 2, 4, 3, 2, 4, 3, 4, 4, 3, 3, 4, 2, 4, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 3, 2, 1, 4, 1, 1, 3, 3, 1, 1, 1, 1, 3, 3, 1, 2, 3, 3, 1, 3, 1, 3, 1, 3, 1, 3, 3, 1, 3, 2, 3, 3, 3, 3, 1, 2, 1, 3, 2, 3, 3, 4, 1, 3, 1, 4, 3, 1, 2, 2, 3, 2, 2, 3, 2, 3, 4, 2, 3, 3, 3, 3, 2, 3, 3, 2, 2, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 2, 3, 2, 2, 3, 3, 2, 2, 3, 3, 2, 3, 3, 1, 2, 2, 3, 2, 1, 4, 3, 3, 2, 3, 3, 2, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 1, 3, 3, 1, 3, 1, 4, 3, 2, 2, 3, 2, 3, 2, 2, 3, 2, 3, 3, 3, 1, 4, 2, 3, 2, 1, 4, 3, 3, 3, 1, 2, 3, 3, 3, 3, 3, 2, 2, 2, 3, 2, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 1, 2, 3, 4, 3, 3, 3, 4, 3, 3, 4, 2, 3, 3, 1, 3, 3, 3, 3, 3, 1, 2, 3, 3, 3, 2, 3, 3, 3, 3, 4, 3, 2, 3, 2, 3, 1, 1, 1, 3, 3, 1, 4, 3, 3, 1, 3, 1, 3, 3, 4, 2, 3, 3, 2, 3, 2, 2, 3, 2, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 2, 3, 3, 2, 4, 3, 3, 3, 3, 3, 3, 2, 3, 1, 2, 3, 2, 1, 2, 1, 2, 4, 2, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 4, 2, 3, 3, 3, 3, 4, 3, 4, 4, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 2, 3, 1, 3, 3, 3, 3, 2, 3, 3, 3, 1, 3, 2, 2, 3, 2, 2, 2, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 2, 4, 3, 3, 4, 3, 3, 3, 3, 2, 3, 4, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 3, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 2, 3, 3, 2, 3, 2, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 4, 3, 3, 3, 3, 3, 4, 3, 4, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 4, 3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 4, 4, 3, 3, 2, 4, 4, 3, 3, 3, 3, 3, 3, 4, 4, 3, 4, 3, 3, 3, 3, 4, 4, 3, 3, 3, 3, 2, 3, 3, 3, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 4, 4, 3, 3, 3, 4, 3, 3, 3, 3, 3, 4, 3, 4, 3, 3, 3, 4, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 4, 2, 3, 3, 3, 2, 3, 3, 3, 2, 3, 3, 4, 1, 2, 3, 2, 3, 2, 3, 2, 4, 3, 3, 3, 3, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 2, 3, 2, 3, 3, 3, 2, 3, 2, 3, 3, 3, 2, 3, 3, 2, 3, 3, 2, 3, 3, 3, 3, 4, 2, 3, 2, 3, 3, 3, 3, 3, 2, 4, 4, 3, 2, 2, 2, 3, 4, 3, 2, 1, 2, 3, 2, 2, 2, 4, 3, 3, 2, 3, 2, 3, 2, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3, 2, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 2, 2, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 2, 3, 2, 2, 1, 3, 2, 1, 2, 2, 3, 2, 3, 3, 3, 4, 4, 4, 1, 3, 3, 3, 3, 3, 1, 3, 1, 4, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 2, 4, 2, 3, 1, 3, 3, 2, 4, 3, 2, 3, 4, 2, 4, 1, 4, 1, 1, 3, 3, 3, 3, 4, 2, 3, 3]

In [6]:
df["grade"] = grade
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,subject,absences,G1,G2,G3,grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,MAT,6,5,6,6,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,MAT,4,5,5,6,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,MAT,10,7,8,10,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,MAT,2,15,14,15,3
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,MAT,4,6,10,10,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,...,2,1,2,5,POR,4,10,11,10,3
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,1,1,1,POR,4,15,15,16,4
1041,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,5,POR,6,11,12,9,2
1042,MS,M,17,U,LE3,T,3,1,services,services,...,5,3,4,2,POR,6,10,10,10,3
1043,MS,M,18,R,LE3,T,3,2,services,other,...,1,3,4,5,POR,4,10,11,11,3

In [7]:
new_df = df.drop(columns = ["G2","G1","G3"])
new_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,subject,absences,grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,4,1,1,3,MAT,6,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,3,1,1,3,MAT,4,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,2,3,3,MAT,10,3
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,2,1,1,5,MAT,2,3
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,2,1,2,5,MAT,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,...,no,5,4,2,1,2,5,POR,4,3
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,no,4,3,4,1,1,1,POR,4,4
1041,MS,F,18,U,GT3,T,1,1,other,other,...,no,1,1,1,1,1,5,POR,6,2
1042,MS,M,17,U,LE3,T,3,1,services,services,...,no,2,4,5,3,4,2,POR,6,3
1043,MS,M,18,R,LE3,T,3,2,services,other,...,no,4,4,1,3,4,5,POR,4,3

In [8]:
data = new_df.values
X = new_df.drop(columns =["grade"])
y = new_df['grade']
y

0       2
1       2
2       3
3       3
4       3
       ..
1039    3
1040    4
1041    2
1042    3
1043    3
Name: grade, Length: 1044, dtype: int64

In [9]:
cat_columns = ["school","sex","address","famsize","Pstatus","Mjob","Fjob","reason","guardian","schoolsup","famsup","paid","activities","nursery","higher","internet","romantic","subject"]
cat_columns2 = ["school","absences","age","health","Walc","goout","subject"]

cat_columns2

['school', 'absences', 'age', 'health', 'Walc', 'goout', 'subject']

In [10]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
label_encoder = LabelEncoder()

In [11]:
X= X[cat_columns2]
##X= X.apply(LabelEncoder().fit_transform)
X

     school  absences  age  health  Walc  goout subject
0        GP         6   18       3     1      4     MAT
1        GP         4   17       3     1      3     MAT
2        GP        10   15       3     3      2     MAT
3        GP         2   15       5     1      2     MAT
4        GP         4   16       5     2      2     MAT
...     ...       ...  ...     ...   ...    ...     ...
1039     MS         4   19       5     2      2     POR
1040     MS         4   18       1     1      4     POR
1041     MS         6   18       5     1      1     POR
1042     MS         6   17       2     4      5     POR
1043     MS         4   18       5     4      1     POR

[1044 rows x 7 columns]

In [12]:
X[["school","subject"]] = X[["school","subject"]].apply(LabelEncoder().fit_transform)

In [13]:
print(X)

      school  absences  age  health  Walc  goout  subject
0          0         6   18       3     1      4        0
1          0         4   17       3     1      3        0
2          0        10   15       3     3      2        0
3          0         2   15       5     1      2        0
4          0         4   16       5     2      2        0
...      ...       ...  ...     ...   ...    ...      ...
1039       1         4   19       5     2      2        1
1040       1         4   18       1     1      4        1
1041       1         6   18       5     1      1        1
1042       1         6   17       2     4      5        1
1043       1         4   18       5     4      1        1

[1044 rows x 7 columns]

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [15]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

In [16]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
import sklearn
from tensorflow.keras.utils import to_categorical

In [18]:
y_train_categorical = to_categorical(y_train)
y_test_categorical = to_categorical(y_test)

In [19]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [20]:
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=7))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))

model.add(Dense(units=5, activation='softmax'))

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               800
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 505
=================================================================
Total params: 21,505
Trainable params: 21,505
Non-trainable params: 0
_________________________________________________________________

In [22]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [23]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=190,
    shuffle=True,
    verbose=2
)

Epoch 1/190
25/25 - 0s - loss: 1.2109 - accuracy: 0.6015
Epoch 2/190
25/25 - 0s - loss: 0.9530 - accuracy: 0.6564
Epoch 3/190
25/25 - 0s - loss: 0.8995 - accuracy: 0.6616
Epoch 4/190
25/25 - 0s - loss: 0.8728 - accuracy: 0.6743
Epoch 5/190
25/25 - 0s - loss: 0.8481 - accuracy: 0.6641
Epoch 6/190
25/25 - 0s - loss: 0.8330 - accuracy: 0.6628
Epoch 7/190
25/25 - 0s - loss: 0.8193 - accuracy: 0.6782
Epoch 8/190
25/25 - 0s - loss: 0.7979 - accuracy: 0.6807
Epoch 9/190
25/25 - 0s - loss: 0.7787 - accuracy: 0.6858
Epoch 10/190
25/25 - 0s - loss: 0.7763 - accuracy: 0.6871
Epoch 11/190
25/25 - 0s - loss: 0.7598 - accuracy: 0.6897
Epoch 12/190
25/25 - 0s - loss: 0.7562 - accuracy: 0.7037
Epoch 13/190
25/25 - 0s - loss: 0.7327 - accuracy: 0.7114
Epoch 14/190
25/25 - 0s - loss: 0.7293 - accuracy: 0.6999
Epoch 15/190
25/25 - 0s - loss: 0.7237 - accuracy: 0.7190
Epoch 16/190
25/25 - 0s - loss: 0.7124 - accuracy: 0.7190
Epoch 17/190
25/25 - 0s - loss: 0.6977 - accuracy: 0.7241
Epoch 18/190
25/25 - 0s - loss: 0.6885 - accuracy: 0.7203
Epoch 19/190
25/25 - 0s - loss: 0.6769 - accuracy: 0.7241
Epoch 20/190
25/25 - 0s - loss: 0.6767 - accuracy: 0.7178
Epoch 21/190
25/25 - 0s - loss: 0.6623 - accuracy: 0.7292
Epoch 22/190
25/25 - 0s - loss: 0.6708 - accuracy: 0.7139
Epoch 23/190
25/25 - 0s - loss: 0.6443 - accuracy: 0.7331
Epoch 24/190
25/25 - 0s - loss: 0.6331 - accuracy: 0.7420
Epoch 25/190
25/25 - 0s - loss: 0.6230 - accuracy: 0.7433
Epoch 26/190
25/25 - 0s - loss: 0.6183 - accuracy: 0.7407
Epoch 27/190
25/25 - 0s - loss: 0.6105 - accuracy: 0.7369
Epoch 28/190
25/25 - 0s - loss: 0.5998 - accuracy: 0.7420
Epoch 29/190
25/25 - 0s - loss: 0.5830 - accuracy: 0.7497
Epoch 30/190
25/25 - 0s - loss: 0.5972 - accuracy: 0.7446
Epoch 31/190
25/25 - 0s - loss: 0.5954 - accuracy: 0.7612
Epoch 32/190
25/25 - 0s - loss: 0.5621 - accuracy: 0.7535
Epoch 33/190
25/25 - 0s - loss: 0.5568 - accuracy: 0.7663
Epoch 34/190
25/25 - 0s - loss: 0.5516 - accuracy: 0.7599
Epoch 35/190
25/25 - 0s - loss: 0.5464 - accuracy: 0.7701
Epoch 36/190
25/25 - 0s - loss: 0.5249 - accuracy: 0.7867
Epoch 37/190
25/25 - 0s - loss: 0.5174 - accuracy: 0.7739
Epoch 38/190
25/25 - 0s - loss: 0.5114 - accuracy: 0.7778
Epoch 39/190
25/25 - 0s - loss: 0.5028 - accuracy: 0.7957
Epoch 40/190
25/25 - 0s - loss: 0.5120 - accuracy: 0.7765
Epoch 41/190
25/25 - 0s - loss: 0.5138 - accuracy: 0.7829
Epoch 42/190
25/25 - 0s - loss: 0.5042 - accuracy: 0.7893
Epoch 43/190
25/25 - 0s - loss: 0.4968 - accuracy: 0.7893
Epoch 44/190
25/25 - 0s - loss: 0.4750 - accuracy: 0.8059
Epoch 45/190
25/25 - 0s - loss: 0.4759 - accuracy: 0.7969
Epoch 46/190
25/25 - 0s - loss: 0.4774 - accuracy: 0.7778
Epoch 47/190
25/25 - 0s - loss: 0.4623 - accuracy: 0.8123
Epoch 48/190
25/25 - 0s - loss: 0.4442 - accuracy: 0.8072
Epoch 49/190
25/25 - 0s - loss: 0.4313 - accuracy: 0.8327
Epoch 50/190
25/25 - 0s - loss: 0.4255 - accuracy: 0.8263
Epoch 51/190
25/25 - 0s - loss: 0.4156 - accuracy: 0.8289
Epoch 52/190
25/25 - 0s - loss: 0.4157 - accuracy: 0.8276
Epoch 53/190
25/25 - 0s - loss: 0.4085 - accuracy: 0.8263
Epoch 54/190
25/25 - 0s - loss: 0.4068 - accuracy: 0.8289
Epoch 55/190
25/25 - 0s - loss: 0.3901 - accuracy: 0.8327
Epoch 56/190
25/25 - 0s - loss: 0.3877 - accuracy: 0.8378
Epoch 57/190
25/25 - 0s - loss: 0.3753 - accuracy: 0.8519
Epoch 58/190
25/25 - 0s - loss: 0.3857 - accuracy: 0.8455
Epoch 59/190
25/25 - 0s - loss: 0.3741 - accuracy: 0.8314
Epoch 60/190
25/25 - 0s - loss: 0.3564 - accuracy: 0.8467
Epoch 61/190
25/25 - 0s - loss: 0.3607 - accuracy: 0.8557
Epoch 62/190
25/25 - 0s - loss: 0.3579 - accuracy: 0.8519
Epoch 63/190
25/25 - 0s - loss: 0.3749 - accuracy: 0.8480
Epoch 64/190
25/25 - 0s - loss: 0.3541 - accuracy: 0.8416
Epoch 65/190
25/25 - 0s - loss: 0.3571 - accuracy: 0.8557
Epoch 66/190
25/25 - 0s - loss: 0.3392 - accuracy: 0.8659
Epoch 67/190
25/25 - 0s - loss: 0.3446 - accuracy: 0.8672
Epoch 68/190
25/25 - 0s - loss: 0.3226 - accuracy: 0.8710
Epoch 69/190
25/25 - 0s - loss: 0.3225 - accuracy: 0.8723
Epoch 70/190
25/25 - 0s - loss: 0.3201 - accuracy: 0.8736
Epoch 71/190
25/25 - 0s - loss: 0.3086 - accuracy: 0.8736
Epoch 72/190
25/25 - 0s - loss: 0.3045 - accuracy: 0.8736
Epoch 73/190
25/25 - 0s - loss: 0.3108 - accuracy: 0.8672
Epoch 74/190
25/25 - 0s - loss: 0.3127 - accuracy: 0.8685
Epoch 75/190
25/25 - 0s - loss: 0.2951 - accuracy: 0.8761
Epoch 76/190
25/25 - 0s - loss: 0.2770 - accuracy: 0.8914
Epoch 77/190
25/25 - 0s - loss: 0.2692 - accuracy: 0.8953
Epoch 78/190
25/25 - 0s - loss: 0.2758 - accuracy: 0.8902
Epoch 79/190
25/25 - 0s - loss: 0.2855 - accuracy: 0.8799
Epoch 80/190
25/25 - 0s - loss: 0.2609 - accuracy: 0.8876
Epoch 81/190
25/25 - 0s - loss: 0.2686 - accuracy: 0.8927
Epoch 82/190
25/25 - 0s - loss: 0.2774 - accuracy: 0.8876
Epoch 83/190
25/25 - 0s - loss: 0.2574 - accuracy: 0.9055
Epoch 84/190
25/25 - 0s - loss: 0.2641 - accuracy: 0.8851
Epoch 85/190
25/25 - 0s - loss: 0.2630 - accuracy: 0.8838
Epoch 86/190
25/25 - 0s - loss: 0.2380 - accuracy: 0.9004
Epoch 87/190
25/25 - 0s - loss: 0.2373 - accuracy: 0.9068
Epoch 88/190
25/25 - 0s - loss: 0.2449 - accuracy: 0.8953
Epoch 89/190
25/25 - 0s - loss: 0.2469 - accuracy: 0.8978
Epoch 90/190
25/25 - 0s - loss: 0.2412 - accuracy: 0.9068
Epoch 91/190
25/25 - 0s - loss: 0.2390 - accuracy: 0.9004
Epoch 92/190
25/25 - 0s - loss: 0.2347 - accuracy: 0.9004
Epoch 93/190
25/25 - 0s - loss: 0.2243 - accuracy: 0.9132
Epoch 94/190
25/25 - 0s - loss: 0.2317 - accuracy: 0.9055
Epoch 95/190
25/25 - 0s - loss: 0.2164 - accuracy: 0.9106
Epoch 96/190
25/25 - 0s - loss: 0.2291 - accuracy: 0.9017
Epoch 97/190
25/25 - 0s - loss: 0.2147 - accuracy: 0.9017
Epoch 98/190
25/25 - 0s - loss: 0.2157 - accuracy: 0.9144
Epoch 99/190
25/25 - 0s - loss: 0.2210 - accuracy: 0.9042
Epoch 100/190
25/25 - 0s - loss: 0.2111 - accuracy: 0.9055
Epoch 101/190
25/25 - 0s - loss: 0.2074 - accuracy: 0.9170
Epoch 102/190
25/25 - 0s - loss: 0.2159 - accuracy: 0.9119
Epoch 103/190
25/25 - 0s - loss: 0.2175 - accuracy: 0.9132
Epoch 104/190
25/25 - 0s - loss: 0.2086 - accuracy: 0.9080
Epoch 105/190
25/25 - 0s - loss: 0.2005 - accuracy: 0.9119
Epoch 106/190
25/25 - 0s - loss: 0.2024 - accuracy: 0.9042
Epoch 107/190
25/25 - 0s - loss: 0.2201 - accuracy: 0.9029
Epoch 108/190
25/25 - 0s - loss: 0.2331 - accuracy: 0.9068
Epoch 109/190
25/25 - 0s - loss: 0.2136 - accuracy: 0.9144
Epoch 110/190
25/25 - 0s - loss: 0.2058 - accuracy: 0.9221
Epoch 111/190
25/25 - 0s - loss: 0.1889 - accuracy: 0.9195
Epoch 112/190
25/25 - 0s - loss: 0.1950 - accuracy: 0.9208
Epoch 113/190
25/25 - 0s - loss: 0.2010 - accuracy: 0.9170
Epoch 114/190
25/25 - 0s - loss: 0.1933 - accuracy: 0.9183
Epoch 115/190
25/25 - 0s - loss: 0.1823 - accuracy: 0.9310
Epoch 116/190
25/25 - 0s - loss: 0.1927 - accuracy: 0.9183
Epoch 117/190
25/25 - 0s - loss: 0.2007 - accuracy: 0.8978
Epoch 118/190
25/25 - 0s - loss: 0.1916 - accuracy: 0.9132
Epoch 119/190
25/25 - 0s - loss: 0.1831 - accuracy: 0.9298
Epoch 120/190
25/25 - 0s - loss: 0.1808 - accuracy: 0.9106
Epoch 121/190
25/25 - 0s - loss: 0.1693 - accuracy: 0.9246
Epoch 122/190
25/25 - 0s - loss: 0.1819 - accuracy: 0.9208
Epoch 123/190
25/25 - 0s - loss: 0.1886 - accuracy: 0.9246
Epoch 124/190
25/25 - 0s - loss: 0.1689 - accuracy: 0.9323
Epoch 125/190
25/25 - 0s - loss: 0.1761 - accuracy: 0.9208
Epoch 126/190
25/25 - 0s - loss: 0.1786 - accuracy: 0.9106
Epoch 127/190
25/25 - 0s - loss: 0.1668 - accuracy: 0.9221
Epoch 128/190
25/25 - 0s - loss: 0.1601 - accuracy: 0.9259
Epoch 129/190
25/25 - 0s - loss: 0.1515 - accuracy: 0.9374
Epoch 130/190
25/25 - 0s - loss: 0.1692 - accuracy: 0.9246
Epoch 131/190
25/25 - 0s - loss: 0.1683 - accuracy: 0.9310
Epoch 132/190
25/25 - 0s - loss: 0.1858 - accuracy: 0.9183
Epoch 133/190
25/25 - 0s - loss: 0.1641 - accuracy: 0.9208
Epoch 134/190
25/25 - 0s - loss: 0.1698 - accuracy: 0.9246
Epoch 135/190
25/25 - 0s - loss: 0.1657 - accuracy: 0.9272
Epoch 136/190
25/25 - 0s - loss: 0.1717 - accuracy: 0.9183
Epoch 137/190
25/25 - 0s - loss: 0.1759 - accuracy: 0.9221
Epoch 138/190
25/25 - 0s - loss: 0.1677 - accuracy: 0.9310
Epoch 139/190
25/25 - 0s - loss: 0.1506 - accuracy: 0.9259
Epoch 140/190
25/25 - 0s - loss: 0.1710 - accuracy: 0.9234
Epoch 141/190
25/25 - 0s - loss: 0.1681 - accuracy: 0.9298

Epoch 142/190
25/25 - 0s - loss: 0.1540 - accuracy: 0.9259
Epoch 143/190
25/25 - 0s - loss: 0.1770 - accuracy: 0.9285
Epoch 144/190
25/25 - 0s - loss: 0.1652 - accuracy: 0.9272
Epoch 145/190
25/25 - 0s - loss: 0.1537 - accuracy: 0.9374
Epoch 146/190
25/25 - 0s - loss: 0.1588 - accuracy: 0.9272
Epoch 147/190
25/25 - 0s - loss: 0.1595 - accuracy: 0.9310
Epoch 148/190
25/25 - 0s - loss: 0.1474 - accuracy: 0.9349
Epoch 149/190
25/25 - 0s - loss: 0.1480 - accuracy: 0.9272
Epoch 150/190
25/25 - 0s - loss: 0.1474 - accuracy: 0.9349
Epoch 151/190
25/25 - 0s - loss: 0.1752 - accuracy: 0.9272
Epoch 152/190
25/25 - 0s - loss: 0.1550 - accuracy: 0.9298
Epoch 153/190
25/25 - 0s - loss: 0.1471 - accuracy: 0.9336
Epoch 154/190
25/25 - 0s - loss: 0.1507 - accuracy: 0.9298
Epoch 155/190
25/25 - 0s - loss: 0.1430 - accuracy: 0.9310
Epoch 156/190
25/25 - 0s - loss: 0.1445 - accuracy: 0.9208
Epoch 157/190
25/25 - 0s - loss: 0.1554 - accuracy: 0.9298
Epoch 158/190
25/25 - 0s - loss: 0.1341 - accuracy: 0.9374
Epoch 159/190
25/25 - 0s - loss: 0.1388 - accuracy: 0.9336
Epoch 160/190
25/25 - 0s - loss: 0.1502 - accuracy: 0.9298
Epoch 161/190
25/25 - 0s - loss: 0.1461 - accuracy: 0.9246
Epoch 162/190
25/25 - 0s - loss: 0.1617 - accuracy: 0.9298
Epoch 163/190
25/25 - 0s - loss: 0.1560 - accuracy: 0.9310
Epoch 164/190
25/25 - 0s - loss: 0.1447 - accuracy: 0.9259
Epoch 165/190
25/25 - 0s - loss: 0.1364 - accuracy: 0.9349
Epoch 166/190
25/25 - 0s - loss: 0.1490 - accuracy: 0.9336
Epoch 167/190
25/25 - 0s - loss: 0.1453 - accuracy: 0.9349
Epoch 168/190
25/25 - 0s - loss: 0.1415 - accuracy: 0.9336
Epoch 169/190
25/25 - 0s - loss: 0.1453 - accuracy: 0.9259
Epoch 170/190
25/25 - 0s - loss: 0.1551 - accuracy: 0.9208
Epoch 171/190
25/25 - 0s - loss: 0.1486 - accuracy: 0.9272
Epoch 172/190
25/25 - 0s - loss: 0.1423 - accuracy: 0.9310
Epoch 173/190
25/25 - 0s - loss: 0.1759 - accuracy: 0.9170
Epoch 174/190
25/25 - 0s - loss: 0.1594 - accuracy: 0.9259
Epoch 175/190
25/25 - 0s - loss: 0.1336 - accuracy: 0.9323
Epoch 176/190
25/25 - 0s - loss: 0.1323 - accuracy: 0.9374
Epoch 177/190
25/25 - 0s - loss: 0.1481 - accuracy: 0.9323
Epoch 178/190
25/25 - 0s - loss: 0.1515 - accuracy: 0.9349
Epoch 179/190
25/25 - 0s - loss: 0.1543 - accuracy: 0.9323
Epoch 180/190
25/25 - 0s - loss: 0.1420 - accuracy: 0.9310
Epoch 181/190
25/25 - 0s - loss: 0.1461 - accuracy: 0.9285
Epoch 182/190
25/25 - 0s - loss: 0.1378 - accuracy: 0.9272
Epoch 183/190
25/25 - 0s - loss: 0.1323 - accuracy: 0.9425
Epoch 184/190
25/25 - 0s - loss: 0.1284 - accuracy: 0.9298
Epoch 185/190
25/25 - 0s - loss: 0.1276 - accuracy: 0.9310
Epoch 186/190
25/25 - 0s - loss: 0.1410 - accuracy: 0.9323
Epoch 187/190
25/25 - 0s - loss: 0.1346 - accuracy: 0.9361
Epoch 188/190
25/25 - 0s - loss: 0.1505 - accuracy: 0.9298
Epoch 189/190
25/25 - 0s - loss: 0.2239 - accuracy: 0.9106
Epoch 190/190
25/25 - 0s - loss: 0.2417 - accuracy: 0.8991

In [24]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

9/9 - 0s - loss: 3.3510 - accuracy: 0.5402
Normal Neural Network - Loss: 3.3510031700134277, Accuracy: 0.540229856967926

In [25]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
print(encoded_predictions)

WARNING:tensorflow:From <ipython-input-25-534052de1c23>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
[3 4 3 4 1 3 3 4 4 3]

In [26]:
print(f'actual {y_test.head(10)} prediction{encoded_predictions[:10]}')

actual 550    2
78     3
335    3
708    3
99     2
622    3
165    3
94     3
867    4
702    3
Name: grade, dtype: int64 prediction[3 4 3 4 1 3 3 4 4 3]

In [27]:
print(X_test_scaled)

[[-0.60538595  2.75073493  0.22968964 ... -0.21497738  1.58738503
   0.77117098]
 [-0.60538595 -0.38598021  0.22968964 ... -0.98712093 -1.85323082
  -1.29672929]
 [-0.60538595  1.80972039  0.22968964 ...  0.55716616  1.58738503
  -1.29672929]
 ...
 [-0.60538595 -0.69965172  0.22968964 ... -0.21497738 -0.99307686
  -1.29672929]
 [-0.60538595 -0.0723087  -0.58043193 ...  0.55716616 -0.1329229
   0.77117098]
 [ 1.6518388   0.55503433 -0.58043193 ... -0.98712093  1.58738503
   0.77117098]]

In [29]:
# ##school	absences	age	health	Walc	goout	subjec
# import joblib
# filename = 'deeplearning.sav'
# joblib.dump(model, filename)

In [30]:
# Save the model
model.save('deeplearning.h5')